/* filename: [Assign1_styles]
author: [Zichen Wu]
created: [23/08/2020]
last modified: [31/08/2020]
description: [CSS file is used to style all HTML pages and get the appropriate layout.]*/
* {font-family: calibri, sans-serif;}
* {color:#2F4F4F;}
header { 
        font-size: 2em; 
        font-weight:bold;
        border:1px blanchedalmond;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #92ACD1;
        text-align: center;  }
h1 {color: #B17A7D; font-size: 2em; font-weight:bold;}
h2 {color: #96a48b;}
.nav {display: inline-block;}
nav a {text-decoration: none;
       padding:0.2em 0.6em;
       border: 2px solid #614E52;
    background-color: #e0e5df;}
nav a:hover {color: lightblue;}
nav a:hover {border-color: cadetblue;}
body {background-image: url("./images/sky.jpg"); 
      background-repeat: repeat-y;
      background-size: cover;
      min-height: 100%; 
      margin: auto; 
      padding: 0; 
      position: relative;}
aside {font-style: italic;
       border: 12px inset #b5c4b1;
       border-radius: 14px;
       margin: 1em;
       padding: 0.5em;
       width: 25%;
       float: right;
       box-shadow: 10px 10px 5px #aaaaaa;}
.justify  {width: 1000px;
          display: block;
          text-align: justify;}
#table {margin: auto;
       margin: 0.5em;
       padding: 0.5em;}
table, th, td {border: solid;}
table caption {background-color: #c1cbd7;}
table tr {background-color: #8696a7;}
html{height:100%;}
article {padding-bottom: 100px;}
footer {position: absolute;
       bottom: 0;
       width: 100%;
       height: 50px;
       background-color: #eee;
       font-style: italic;
       font-size: small;}
footer p {text-align: center;}

.parentBox {width: 200px;
	    height: 200px;
	    display: table;
	    text-align: center;}
.box {display: table-cell;
     vertical-align: middle;}



